/**
*	Libreria Javascript para simular el nivel de un tanque.
*	Version 1.0.0
*	Author: Israel Rocha (@israel_hope)
*	MIT license
*	Require jQuery
*
**/
.itank-wrap {
		overflow: visible;
		position:relative;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
	}
	.itank-wrap .midly{
		position:relative;
		width: 100%;
		height: 100%;
		overflow: visible;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	.itank-wrap .inner{
		width: 100%;
		overflow: visible !important;
		left: 0;
		position: absolute;
		border-top-width: 0;
		bottom: 0;
		height: 0;
		-moz-border-radius: inherit;
		-webkit-border-radius: inherit;
		border-radius: inherit;
	}
	.itank-wrap .inner>.desc{
		color:#eee;
		background-color: #000;
		padding:4px 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		position:relative;
		display:inline-block;
		top:-10px;
		left:110%;
		font-size: 14px;
		line-height: 14px;
		font-family: 'Helvetica Neue', Helvetica, sans-serif;
	}
	.itank-wrap .inner>.desc.noshow{
		display: none;
	}
		/*  TEMAS   */
		.oil-tank .itank-wrap{
			border: 1px solid #ccc;
			background: rgb(255,255,255);
			background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
			background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
			background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
			background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
			background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}
		.oil-tank .midly{
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
		}
		.oil-liquid, .oil-tank .inner{
			background: #0d0d0d;
			background: -moz-linear-gradient(left,  #0d0d0d 0%, #4e4e4e 19%, #383838 34%, #383838 34%, #1b1b1b 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0d0d0d), color-stop(19%,#4e4e4e), color-stop(34%,#383838), color-stop(34%,#383838), color-stop(100%,#1b1b1b));
			background: -webkit-linear-gradient(left,  #0d0d0d 0%,#4e4e4e 19%,#383838 34%,#383838 34%,#1b1b1b 100%);
			background: -o-linear-gradient(left,  #0d0d0d 0%,#4e4e4e 19%,#383838 34%,#383838 34%,#1b1b1b 100%);
			background: -ms-linear-gradient(left,  #0d0d0d 0%,#4e4e4e 19%,#383838 34%,#383838 34%,#1b1b1b 100%);
			background: linear-gradient(to right,  #0d0d0d 0%,#4e4e4e 19%,#383838 34%,#383838 34%,#1b1b1b 100%);
		}
		/* Simple tank */
		.simple-tank .itank-wrap{
			background: #706C64;
			-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
			-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
		}
		.simple-tank .inner{
			background: rgb(135,224,253);
			background: -moz-linear-gradient(left,  rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(135,224,253,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1)));
			background: -webkit-linear-gradient(left,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
			background: -o-linear-gradient(left,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
			background: -ms-linear-gradient(left,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
			background: linear-gradient(to right,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
		}
		/* Border tank*/
		.border-tank .itank-wrap{
			background: #706C64;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			border-radius: 20px;
		}
		.border-tank .midly{
			position: absolute;
			top: 10px;
			bottom: 10px;
			right: 10px;
			left: 10px;
			width: auto;
			height: auto;
			background-color: #FFF;
			border:2px solid #FFF;
			-moz-border-radius: 13px;
			-webkit-border-radius: 13px;
			border-radius: 13px;
		}
		.border-tank .inner{
			background: rgb(183,222,237);
			background: -moz-linear-gradient(left,  rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(183,222,237,1)), color-stop(50%,rgba(113,206,239,1)), color-stop(51%,rgba(33,180,226,1)), color-stop(100%,rgba(183,222,237,1)));
			background: -webkit-linear-gradient(left,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
			background: -o-linear-gradient(left,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
			background: -ms-linear-gradient(left,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
			background: linear-gradient(to right,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
		}
		.border-tank .border-region{
			float: left;
			width: 100%;
		}
		/* progress tank */
		.glass-tank .itank-wrap{
			border: 1px solid #ccc;
			-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
			-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
		}
		.glass-tank .midly{
			border:1px solid #FFF;
			-moz-border-radius: 7px;
			-webkit-border-radius: 7px;
			border-radius: 7px;
		}
		.glass-tank .inner{
			background: #00acee;
			background: -moz-linear-gradient(left,  #00acee 0%, #0078a6 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00acee), color-stop(100%,#0078a6));
			background: -webkit-linear-gradient(left,  #00acee 0%,#0078a6 100%);
			background: -o-linear-gradient(left,  #00acee 0%,#0078a6 100%);
			background: -ms-linear-gradient(left,  #00acee 0%,#0078a6 100%);
			background: linear-gradient(to right,  #00acee 0%,#0078a6 100%);
		}
		/* Progress tank */
		.progress-tank .itank-wrap{
			border: 1px solid #ccc;
			background: rgb(255,255,255);
			background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
			background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
			background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
			background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
			background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);

		}
		.progress-tank .midly{

		}
		.progress-tank .inner{
			background: rgb(191,210,85);
			background: -moz-linear-gradient(left,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1)));
			background: -webkit-linear-gradient(left,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
			background: -o-linear-gradient(left,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
			background: -ms-linear-gradient(left,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
			background: linear-gradient(to right,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
		}		

	/* Estilos customizados */
	.customtank{
		float:left;
		margin:0 10px 15px;
		height:150px;
	}
	.tanklevel{
		position: relative;
		display: inline-block;
	}
	.tanklevel .customtank{
		float: none;
		margin:0 auto;
		position: absolute;
		top:12px;
		left:0;
		right: 0;
		height: 175px;
	}
	.tanklevelbig{
		position: relative;
		float: left;
	}
	.tanklevelbig .customtank{
		float: none;
		margin:0 auto;
		position: absolute;
		top:36px;
		left:0;
		right: 0;
		height:194px;
	}
	.tanklevelbig .itank-wrap{
		border: 1px solid #666;
	}